<ng-include ng-if="error404" src="'template404'">xxxx</ng-include>
<!--<div class="hide" ng-show="error404" ng-if="error404">xxxx</div>-->
<div ng-if="!error404">
    <div bind-html-compile="post.content.rendered"></div>
</div>

