<!--main image, if desired this can be changed to a carousel with pics-->
<div class="container-fluid" id="top">
    <div class="row">
        <div class="col-xs-12 no-padding-left no-padding-right">

            <!--high res-->
            <img src="http://bowriverstudio.com/wp-content/themes/bowriverstudio/imgs/main.png" alt="IMAGE" class="img-responsive hidden-xs"/>

            <!--mobile-->
            <img src="http://bowriverstudio.com/wp-content/themes/bowriverstudio/imgs/main-m.png" alt="IMAGE" class="img-responsive hidden-sm hidden-md hidden-lg"/>

        </div>
    </div>
</div>

<div ng-page="our-work" id="our_work"></div>

<div ng-page="how-we-work" id="how_we_work"></div>

<div ng-page="contact-us" id="contact_us"></div>