<ng-include ng-if="error404" src="'template404'">xxxx</ng-include>
<!--<div class="hide" ng-show="error404" ng-if="error404">xxxx</div>-->
<div ng-if="!error404">
    <div class="container-fluid section-header content-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 padding-top-bottom-gutter">
                    <h2 class="text-gray brand-font">
                        <span class="text-primary">Blog</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!--basic page grid-->
        <div class="row">
            <!--post section-->
            <div class="col-md-8 col-sm-8">

                <!--post title-->
                <h4 class="text-primary">
                    <strong ng-bind-html="post.title.rendered"></strong>
                </h4>

                <!--date-->
                <p class="text-gray margin-bottom-double">
                    <i class="fa fa-fw fa-clock-o"></i><span ng-bind-html="getDate(post.date) | date:'MMM dd, yyyy'">
                </p>

                <!--image or visual object-->
                <div class="margin-bottom-double" ng-if="post.better_featured_image">
                    <img ng-src="{{post.better_featured_image.source_url}}" class="adjusted-to-container" alt=""/>
                </div>

                <div bind-html-compile="post.content.rendered"></div>

                <!--tags-->
                <div class="margin-top-double" ng-if="post.tags">
                    <!--label-->
                    <p>
                        <strong>Tags:</strong>
                    </p>

                    <!--tags list-->
                    <h4 class="no-margin-top">
                        <a ng-repeat="tag in post.tags" ng-href="blog/?tag={{tag.slug}}"><span class="label label-primary" ng-bind-html="tag.name"></span></a>
                    </h4>
                </div>

                <!--share to social-->
                <!--<div class="margin-top-double margin-bottom-double">-->
                    <!--&lt;!&ndash;label&ndash;&gt;-->
                    <!--<p>-->
                        <!--<strong>Share this post:</strong>-->
                    <!--</p>-->

                    <!--&lt;!&ndash;social media list&ndash;&gt;-->
                    <!--<h4 class="no-margin-top">-->

                        <!--<a href="#">-->
                            <!--<i class="fa fa-facebook-square fa-2x text-facebook hovered"></i>-->
                        <!--</a>-->

                        <!--<a href="#">-->
                            <!--<i class="fa fa-pinterest-square fa-2x text-pinterest hovered"></i>-->
                        <!--</a>-->

                        <!--<a href="#">-->
                            <!--<i class="fa fa-google-plus-square fa-2x text-google hovered"></i>-->
                        <!--</a>-->

                    <!--</h4>-->
                <!--</div>-->

                <!--&lt;!&ndash;back to posts&ndash;&gt;-->
                <!--<div class="margin-top-double margin-bottom-double">-->
                    <!--<h4 class="no-margin-top">-->
                        <!--<a href="blog.html">-->
                            <!--<strong><i class="fa fa-fw fa-arrow-left"></i> Back to All Posts</strong>-->
                        <!--</a>-->
                    <!--</h4>-->
                <!--</div>-->


            </div>
            <!-- . / post section-->


            <!--sidenav-->
            <div class="col-md-4 col-sm-4">
                <!--featured posts-->
                <div class="ng-posts" template="posts-slider" perpage="3" dependOnUrl="false" featured="yes"></div>

                <!--recent posts-->
                <div class="ng-posts" template="recent-posts" perpage="3" dependOnUrl="false"></div>

                <!--search by tags-->
                <div class="ng-tags"></div>

            </div>
        </div>
    </div>

    <!-- / . container -->
</div>