<div class="row margin-top-double margin-bottom-double">
    <div class="col-sm-5 col-xs-12 no-padding-left">
        <div class="form-group has-feedback bg-gray-lighter sidenav-item current-page right-direction">
            <input type="text" class="form-control" id="table-search-input" placeholder="Search"
                   ng-model="options.query" ng-change="changeQuery()">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>

    <div class="col-xs-12 text-gray" ng-show="options.query.length > 0">
        <p>Searching for: "{{options.query}}", <strong class="text-gray-dark" ng-bind-html="options.total"></strong>
            results <a href="#" ng-click="clearQuery()" class="btn btn-default btn-xs ease" data-toggle="tooltip"
                       data-placement="bottom" title="Reset Search"><i class="fa fa-times"></i></a></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 padding-left-large padding-left-right-half-gutter-xs">

        <div class="row margin-bottom-double" ng-repeat="news in data.items">
            <div class="col-sm-4 col-xs-12 <!--no-padding-right -->padding-left-right-half-gutter-xs">
                <!--pointer-->
                <img class="pointer-right-top" ng-src="{{$root.myLocalized.theme_imgs}}pointer-arrow-right.png" alt="POINTER"/>

                <img class="adjusted-to-container" ng-if="news.better_featured_image"
                     ng-src="{{news.better_featured_image.source_url}}" alt="NEWS"/>

                <img class="adjusted-to-container" ng-if="!news.better_featured_image"
                     ng-src="{{$root.myLocalized.theme_imgs}}news/no-img.png" alt="NEWS"/>
            </div>
            <!--content-->
            <div class="col-sm-8 col-xs-12">
                <!--title-->
                <h4 class="margin-bottom-tiny text-primary">
                    <strong ng-bind-html="news.title.rendered | highlight:options.query"></strong>
                </h4>
                <!--date published-->
                <p class="no-margin-top margin-bottom-tiny text-gray">
                    <i class="fa fa-fw fa-clock-o"></i>
                    <span ng-bind-html="getDate(news.date) | date:'MMM dd, yyyy'"></span>
                </p>
                <!--text-->
                <p ng-bind-html="news.content.rendered | highlight:options.query"></p>

                <!--DEVELOPER: if the news has a link to perform an action, include this div here-->
                <div class="news-actions">
                    <a href="#" class="btn btn-primary ease margin-right-tiny margin-bottom-tiny">CONFIGURABLE ACTION
                        BUTTON 1</a>
                    <a href="#" class="btn btn-primary ease margin-right-tiny margin-bottom-tiny">CONFIGURABLE ACTION
                        BUTTON 2</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 text-center text-gray" ng-if="data.items.length == 0">
            <h4>Sorry, there is no news...</h4>
        </div>

    </div>
</div>

<div ng-if="options.totalPages > 0 && options.paginate" static-include="{{options.paginateTemplate}}"></div>

<div class="row" ng-if="options.totalPages > options.page && infiniteScroll">
    <div class="col-xs-12 text-center padding-gutter">
        <a href="" ng-click="loadMore()"><i class="fa fa-fw fa-arrow-down"></i>Show earlier news...</a>
    </div>
</div>