<div class="row">
    <div class="col-xs-12">
        <br/><br/>
        <div class="col-sm-7 col-xs-12 text-right text-center-xs">
            <nav>
                <ul class="pagination">
                    <li class="previous">
                        <a href="#" aria-label="Previous" ng-click="goToPage(options.page > 1 ? options.page - 1 : 1)">
                            <span aria-hidden="true"><span class="hidden-xs">Previous</span><i class="fa fa-fw fa-chevron-left hidden-lg hidden-md hidden-sm"></i></span>
                        </a>
                    </li>
                    <li ng-repeat="p in options.pages" ng-class="isActivePage(p)"><a href="#" ng-click="goToPage(p)">{{p}}</a></li>
                    <li class="next">
                        <a href="#" aria-label="Next" ng-click="goToPage(options.page < options.totalPages ? options.page + 1 : options.totalPages)">
                            <span aria-hidden="true"><span class="hidden-xs">Next</span><i class="fa fa-fw fa-chevron-right hidden-lg hidden-md hidden-sm"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-5 col-xs-12 text-center-xs">
            <ul class="pagination">
                <li>
                    <select name="pages_per_page" aria-controls="admin_users" class="form-control btn-sm" style="width: 60px; display: inline;" ng-model="options.itemsPerPage" ng-change="update()">
                        <option ng-repeat="item in options.itemsPerPageOptions" value="{{item}}">{{item}}</option>
                    </select>
                </li>
                <li>
                    records per page
                </li>
            </ul>
        </div>

    </div>
</div>