<ng-include ng-if="error404" src="'template404'">xxxx</ng-include>

<div ng-if="!error404" class="row margin-bottom-double" ng-repeat="member in teamMembers">

    <div class="col-lg-3 col-xs-4" ng-class="imageClass($index)">
        <img ng-src="{{member.better_featured_image.source_url}}" alt="{{member.title.rendered}}" class="adjusted-to-container"/>
    </div>

    <div class="col-lg-9 col-xs-8 padding-top-bottom-half-gutter" ng-class="imageData($index)">
        <!--name-->
        <h4 class="no-margin-top no-margin-bottom text-primary">
            <strong class="mark-scratch" ng-bind-html="member.title.rendered"></strong>
        </h4>

        <!--position-->
        <h4 class="no-margin-top no-margin-bottom text-gray">
            <strong ng-bind-html="member.job_title"></strong>
        </h4>

        <!--email-->
        <p class="fit-with-ellipsis">
            <a class="text-gray" ng-href="mailto:{{member.emailid}}" ng-bind-html="member.emailid"></a>
        </p>

        <!--about-->
        <p class="no-margin-bottom" ng-bind-html="member.description.rendered"></p>
    </div>

</div>